.yes-label {
    background-color: green;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
}

.no-label {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
}